html, body {
    background: black;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --size-clock: 600px;
    --wand-mul-distance: -0.48;
    --second-mul-distance: -0.425;
    --minute-mul-distance: -0.376;
    --hour-mul-distance: -0.32;
    --wand-in-mul-distance: -0.27;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-wrapper {
    position: fixed;
    height: var(--size-clock);
    width: var(--size-clock);
    min-height: 400px;
    min-width: 400px;
    top: calc(50% - var(--size-clock) / 2);
    left: calc(50% - var(--size-clock) / 2);
    border-radius: 50%;
    background-color: #7efc0088;
    box-shadow: 0 0 30px 10px #7efc0080;
    z-index: 100;
}

.clock-wrapper:hover {
    animation: rotationClock 2s linear;
}

@keyframes rotationClock {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.clock-second-wrapper, .clock-minute-wrapper, .clock-hour-wrapper, .clock-wand-wrapper, .clock-wand-in-wrapper {
    position: absolute;
}

.clock-wand-wrapper {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 101;
}

.clock-wand {
    position: absolute;
    font-size: small;
    color: #ffffff;
}

.clock-wand {
    @for $i from 0 to 60 {
        &:nth-child(#{$i + 1}) {
            transform: rotate(#{($i) * 6deg}) translateY(calc(var(--size-clock) * var(--wand-mul-distance)));
        }
    }
}

.clock-second-wrapper {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background-color: #166772;
    z-index: 102;
    animation-delay: 10s;
}

.clock-second {
    position: absolute;
    font-size: small;
    color: #ffffff;
}

.clock-second {
    @for $i from 0 to 60 {
        &:nth-child(#{$i + 1}) {
            transform: rotate(#{($i) * 6deg}) translateY(calc(var(--size-clock) * var(--second-mul-distance)));
        }
    }
}

.clock-minute-wrapper {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: #a36c2d;
    z-index: 103;
}

.clock-minute {
    position: absolute;
    font-size: x-small;
    color: #ffffff;
}

.clock-minute {
    @for $i from 0 to 60 {
        &:nth-child(#{$i + 1}) {
            transform: rotate(#{($i) * 6deg}) translateY(calc(var(--size-clock) * var(--minute-mul-distance)));
        }
    }
}

.clock-hour-wrapper {
    position: relative;
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: #689b0f9d;
    z-index: 104;
}

.clock-hour {
    position: absolute;
    color: aliceblue;
}

.clock-hour {
    @for $i from 0 to 24 {
        &:nth-child(#{$i + 1}) {
            transform: rotate(#{($i) * 15deg}) translateY(calc(var(--size-clock) * var(--hour-mul-distance)));
        }
    }
}

.clock-wand-in-wrapper {
    position: absolute;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    background-color: #689b0f9d;
    z-index: 105;
}

.clock-wand-in {
    position: absolute;
    color: aliceblue;
}

.clock-wand-in {
    @for $i from 0 to 24 {
        &:nth-child(#{$i + 1}) {
            transform: rotate(#{($i) * 15deg}) translateY(calc(var(--size-clock) * var(--wand-in-mul-distance)));
        }
    }
}

.clock-center {
    position: absolute;
    height: 5%;
    width: 5%;
    border-radius: 50%;
    background-color: black;
    z-index: 106;
}

.clock-arrow {
    position: absolute;
    top: calc(var(--size-clock) / 2 - 22%);
    height: 22%;
    width: 0.5%;
    background-color: black;
    z-index: 107;
}
